# Node.js modules
node_modules/

# Android build artifacts
/android/.gradle/
/android/app/build/
/android/.idea/
/android/local.properties
/android/.cxx/
*.apk
*.keystore

# iOS build artifacts
/ios/Pods/
/ios/DerivedData/
/ios/build/
/ios/*.xcworkspace
*.xcuserstate
*.xcuserdata
*.ipa

# React Native packager cache
/react-native/packager-cache/
/react-native/packager-temp/

# Metro bundler cache
.expo/
.babelrc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Editor-specific files
.vscode/
/.idea/
.DS_Store
